@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .about-us-content {
    padding: 0;
  }

  .grid {
    gap: 4rem;
  }

  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
    /* column-gap:8rem; */
    padding: 4rem;
  }

  .services {
    width: 90%;
    /* height: 40rem; */
  }


  .address-col {
    padding-right: 0;
  }

  /* Mobile navigation */

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50rem;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    font-size: 2.8rem;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 6rem;
  }

  .nav-open .main-nav {
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(98%);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}

@media (max-width: 44em) {
  .grid--2-cols {
    grid-template-columns: none;
    gap: 2rem;
  }

  .about-us-content {
    text-align: center;
  }

  .contact-us-form {
    width: 80%;
  }

  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    padding: 8rem 2rem;
  }

  .grid--4-cols {
    grid-template-columns: none;
    padding: 0;
  }

  .grid--3-cols {
    grid-template-columns: none;
    gap: 1.4rem;
    justify-items: left;
  }

  .social-links {
    text-align: left;
  }

  .services {
    width: 70%;
  }

.read-more{
  display: none;
}

.read-more-text{
  display: inline;
}

  .about-us-content {
    text-align: left;
  }

  .carousel{
    width:100%;
    height: 44rem;
  }

  .social-links,.shop-details{
    padding: 4.8rem 4rem 0 0;
  }
}
